{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <table class="table table-striped shadow">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Nacionalidade</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Data de Atualização</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons_list %}
                <tr hx-target="this" hx-swap="outerHTML">

                    <td>{{ person.nome }}</td>
                    <td>{{ person.data_nascimento.strftime('%d/%m/%Y') }}</td>
                    <td>{{ person.genero }}</td>
                    <td>{{ person.nacionalidade }}</td>
                    <td>{{ person.data_criacao.strftime('%d/%m/%Y') }}</td>
                    <td>{{ person.data_atualizacao.strftime('%d/%m/%Y') }}</td>

                    <td>
                        <a href="/persons/data/{{ person.id }}">
                            <button class="btn btn-dark btn-sm">
                                <i class="bi bi-arrow-right-circle-fill"></i>
                            </button>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
