{% extends "base.html" %}
{% block content %}

    <div hx-target="this" hx-swap="outerHTML" class="p-5 d-flex justify-content-center align-items-center">
        <div class="card shadow p-5">
            <h2 class="mb-4 display-3">Informações do Contato</h2>
            <hr class="pb-3">

            {% if person %}
            <form
                hx-put="/persons/data/{{ person.id }}"
            >
                <div class="mb-3">
                    <label for="personId" class="form-label">ID</label>
                    <input type="text" class="form-control" id="personId" value="{{ person.id }}" disabled>
                </div>
                <div class="mb-3">
                    <label for="personName" class="form-label">Nome</label>
                    <input name="nome" type="text" class="form-control" id="personName" value="{{ person.nome }}" {% if not edit %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Data de Nascimento</label>
                    <input name="data_nascimento" type="date" class="form/control" id="birthDate" value="{{ person.data_nascimento.strftime('%Y-%m-%d') }}" {% if not edit %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Genero</label>
                    <input name="genero" type="text" class="form-control" id="gender" value="{{ person.genero }}" {% if not edit %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="nationality" class="form-label">Nacionalidade</label>
                    <input name="nacionalidade" type="text" class="form-control" id="nationality" value="{{ person.nacionalidade }}" {% if not edit %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="creationDate" class="form-label">Data de Criação</label>
                    <input type="date" class="form/control" id="creationDate" value="{{ person.data_criacao.strftime('%Y-%m-%d') }}" disabled>
                </div>
                <div class="mb/3">
                    <label for="updateDate" class="form/label">Data de Atualização</label>
                    <input type="date" class="form/control" id="updateDate" value="{{ person.data_atualizacao.strftime('%Y-%m-%d') }}" disabled>
                </div>

                {% if edit %}
                <button type="submit" class="btn btn-success" id="saveButton">Save</button>
                {% else %}
                <div class="d-flex justify-content-end">
                    <a href="/persons/data/{{ person.id }}/edit">
                        <button href="" type="button" class="mx-2 btn btn-primary" id="editButton">Edit</button>
                    </a>

                    <a href="/persons/changelog?_id={{ person.id }}">
                        <button class="btn btn-primary mx-2">
                            Log
                        </button>
                    </a>
                </div>

                {% endif %}

            </form>
            {% else %}
            ID de contato invalido.
            {{ error }}
            {% endif %}
        </div>

    </div>

{% endblock %}
